@import url(https://fonts.googleapis.com/css?family=Lato:400);

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Georgia, Cambria, 'Times New Roman', Times, serif;
  font-size: 21px;
  font-style: normal;
  font-weight: normal;
  line-height: 33px;
  letter-spacing: 0.159999996423721px;
  color: #333;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 2em;
  line-height: 50px;
  font-weight: normal;
  letter-spacing: -1px;
}

p {
  margin-bottom: 20px;
}

a:link {
  text-decoration: none;
  color: #337ab7;
}

a:visited {
  color: #337ab7;
}

#container {
  width: 780px;
  margin: 0 auto;
  padding: 40px;
}

.content {
  margin-top: 40px;
}

.logo {
  margin-top: 200px;
  text-align: center;
}

.navbar {
  border-radius: 0;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}

.tagline {
  font-size: 19px;
  margin-top: 10px;
  color: #9D9C9C;
  font-weight: lighter;
}
